<%= link_to(user_post_path(@user, post)) do%>
  <div class="comment-div border-style user-posts">
    <div class="comment-text">
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
    </div>
    <div class="counter-div d-flex">
      <div class="time-info">Created <%= time_ago_in_words(post.created_at)%> ago</div>
      <div>
        <span>Comments: <%= post.comments_counter%></span>
        <span>Likes: <%= post.likes_counters%></span>
      </div>
    </div>
  </div>
<% end %>