<div class="post-details-div">
  <div class="single-post-details border-style">
    <div class="title-details d-flex">
      <button><% if can? :destroy, @post %>
      <%= link_to 'Delete Post', 
        user_post_path(current_user.id), 
        method: :delete, 
        data: {confirm: 'Are You Sure You Want to Delete This Post'} %>
      <% end %>
      </button>
      <p><%= @post.title %> by <%= @post.user.name%></p>
      <div>
        <span>Comments: <%= @post.comments_counter%></span>
        <span>Likes: <%= @post.likes_counters%></span>
      </div>
    </div>
    <div>
      <%= @post.text %>
    </div>
  </div>
  <div class="comments-section border-style">
    <% @post.five_recent_comments.each do |comment|%>
      <p class="d-flex"><span><%= comment.user.name %>:</span><span><%= comment.text %></span></p>
    <% end %>
  </div>

  <%= link_to like_comment_url, method: :post do %>
    <i class="fas fa-heart"></i>
  <% end %>

  <%= form_with url: :create_comment, method: :post, scope: :add_comment do |form| %>

    <div>
      <%= form.label :text %><br>
      <%= form.text_area :text, size: "100x6" %>
    </div>

    <%= form.submit %>

  <% end %>
</div>
